.player-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  inline-size: 100%;
}

.volume-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  inline-size: 100%;
}

.track-controls {
  display: flex;
  gap: 1rem;
  align-items: center;
  inline-size: 100%;
}
