@use '../../scss/02-tools/functions' as *;
@use '../../scss/03-modules/forms' as form;

.textarea-component{
  --textarea-border-radius: #{radius(XXS)};
  --textarea-background: var(--color-basic-positive);
  --textarea-block-padding: 0.5rem;
  --textarea-inline-padding: 0.5rem;

  textarea {
    transition: background-color .35s ease-in-out;

    &:focus {
      --textarea-background: var(--color-accent);
    }
  }
}
