$-list-styles: (
  none,
  auto,
  disc,
  circle,
  square,
  decimal,
  decimal-leading-zero,
  lower-roman,
  upper-roman,
  lower-greek,
  lower-latin,
  upper-latin,
  armenian,
  georgian,
  lower-alpha,
  upper-alpha
);

.list-component {
  margin-inline-start: var(--list-margin, 2ch);

  li {
    &::marker {
      color: var(--list-styles-color, var(--color-primary));
    }

    &:not(:first-child) {
      padding-block-start: var(--list-item-space, 0.25em);
    }
  }
}

.flat {
  --list-margin: 0;
}

.none {
  --list-style: none;
}

@each $name in $-list-styles {
  .#{$name} {
    --list-style: #{$name};
  }
}



