$-list-styles: (
  none,
  auto,
  disc,
  circle,
  square,
  decimal,
  decimal-leading-zero,
  lower-roman,
  upper-roman,
  lower-greek,
  lower-latin,
  upper-latin,
  armenian,
  georgian,
  lower-alpha,
  upper-alpha
);

.list-component {
  --list-component-margin-styled: 2ch;

  display: var(--list-filtered-display, flex);
  flex-direction: column;
  padding-block-end: 1rem;
  margin-inline-start: var(--list-component-margin-styled);

  &:not(.none) {
    --list-component-margin-styled: 4ch;
  }

  li {
    padding-block: 0.75rem .5rem;
    padding-inline: 0 var(--list-component-margin-styled);
    position: relative;
    align-items: center;

    &:not(:first-child) {
      padding-top: .80rem;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      inline-size: calc(100% + var(--list-component-margin-styled));
      margin-inline-start: calc(var(--list-component-margin-styled) * -1);
      border-block-start: var(--list-border-width, max(0.125rem, 1px)) solid var(--color-primary-light);
    }


    &:last-child {
      &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 0;
        inline-size: calc(100% + var(--list-component-margin-styled));
        margin-inline-start: calc(var(--list-component-margin-styled) * -1);
        border-block-end: var(--list-filtered-border-width, max(0.125rem, 1px)) solid;
      }
    }
  }
}

.list-unstyled {
  background: initial;
}

.none {
  --list-style: none;
}

@each $name in $-list-styles {
  .#{$name} {
    --list-style: #{$name};
  }
}



