@use '../../scss/03-modules/texts' as text;
@use '../../scss/03-modules/titles' as title;

.paragraph-component {
  display: block;
  font-family: var(--font-family);
  font-size: var(---paragraph-font-size, clamp(1rem, 0.0201612903rem + 0.9997983871vw, 1.125rem));
  line-height: var(--paragraph-line-height);
  max-inline-size: var(--paragraph-max-width, 100%);
  padding: var(--paragraph-padding, 0 0 1rem 0);
  margin: var(--paragraph-margin, 0);
  column-count: var(--paragraph-column);
  column-gap: 1rem;
}

.flat {
  --paragraph-padding: 0;
}

.a11y-length {
  --paragraph-max-width: 65ch;
}

.ellipsis {
  @include text.ellipsis;
  display: block;
}

.column {

}

@media (orientation: portrait) {
  .a11y-length {
    --paragraph-max-width: 100%;
  }
}
