@use 'sass:math';

// ## Global variables
// $$ App values
$global-unit-value: 16;

// $$ Font values
$font-size: 1rem !default;
$paragraph-font-size: 1rem !default;

// Create the range between values in Utilities clases
// $$ width
$percentage-w-interval: 5 !default;
$percentage-w-end: 20 !default;

// $$ height
$percentage-h-interval: 5 !default;
$percentage-h-end: 20 !default;

// $$  Utilities-classes vars
// ** Accessibility
$accessibility-letter-spacing: 0.0625em;

// ** Flow
// To setup the unit for padding, margin, gap, etc...
// You can change this value in any vars in flow section
$unit-flow: 1rem !default;
$space-flow: 1rem !default;
$space-flow-horizontal: 1rem !default;
$space-flow-vertical: 1rem !default;
$margin-flow: 1rem !default;
$gap-flow: 0.75rem !default;
$gap-flow-row: 0.5rem !default;
$gap-flow-column: 0.5rem !default;

// ** Lists
$list-padding: 0.75rem !default;
