// ## Animation vars
// $$ Animation hover
$animation-hover: .3s;

// $$ Animation speed
$animation-speed-slow: .75s;
$animation-speed-fast: .5s;

// $$ Animation delay
$animation-delay-slow: 1s;
$animation-delay-fast: .5s;
