
// ## Border radius size
$radius-size: (
    rounded: 16,
    mini: 0.125,
    XXL:  1.75,
    XL:   1.5,
    L:    1.25,
    M:    1,
    S:    0.75,
    XS:   0.5,
    XXS:  0.25
) !default;
