//## Shadows
$shadow-pop: 0 0.5rem 1rem -0.5rem hsla(0 0% 0% / 0.5);

$shadow-xxs: 0 0.0625rem 0.125rem -0.0625rem hsla(0 0% 0% / 0.5);
$shadow-xs: 0 0.125rem 0.5rem -0.25rem hsla(0 0% 0% / 0.5);
$shadow-s: 0 0.25rem 1rem -0.5rem hsla(0 0% 0% / 0.5);
$shadow-m: 0 0.375rem 0.5rem hsla(0 0% 0% / 0.25);
$shadow-l: 0 0.5rem 0.3125rem hsla(0 0% 0% / 0.25);
$shadow-xl: 0 0.625rem 0.375rem hsla(0 0% 0% / 0.25);
$shadow-xxl: 0 0.75rem 0.5rem hsla(0 0% 0% / 0.25);


//## Text shadow
$shadow-text-s: 0 0.25rem 1rem -0.5rem hsla(0 0% 0% / 0.75);
$shadow-text-m: 0 0.3125rem 0.3125rem hsla(0 0% 0% / 0.3);
$shadow-text-l: 0 0.3125rem 0.3125rem hsla(0 0% 0% / 0.5);
$shadow-text-hover: 0 0.4rem 1rem -0.5rem hsla(0 0% 0% / 0.75);

// $$ Shadows
$shadow-swatches: (
    XXS: $shadow-xxs,
    XS: $shadow-xs,
    S: $shadow-s,
    M: $shadow-m,
    L: $shadow-l,
    XL: $shadow-xl,
    XXL: $shadow-xxl,
    pop: $shadow-pop
) !default;

// $$ Text shadow
$text-shadow-swatches: (
    S: $shadow-text-s,
    M: $shadow-text-m,
    L: $shadow-text-l,
    hover: $shadow-text-hover
) !default;
