// ## Gray scale swatches

// $$ Gray neutral
$_gray-neutral-000: hsl(0 0% 98%); //#fafafa
$_gray-neutral-100: hsl(0 0% 96%); //#f5f5f5
$_gray-neutral-200: hsl(0 0% 90%); //#e6e6e6
$_gray-neutral-300: hsl(0 0% 83%); //#d4d4d4
$_gray-neutral-400: hsl(0 0% 64%); //#a3a3a3
$_gray-neutral-500: hsl(0 0% 45%); //#737373
$_gray-neutral-600: hsl(0 0% 32%); //#525252
$_gray-neutral-700: hsl(0 0% 25%); //#404040
$_gray-neutral-800: hsl(0 0% 15%); //#262626
$_gray-neutral-900: hsl(0 0% 9%);  //#171717

$gray-swatches: (
  neutral: (
    'default': $_gray-neutral-400,
    '000': $_gray-neutral-000,
    '100': $_gray-neutral-100,
    '200': $_gray-neutral-200,
    '300': $_gray-neutral-300,
    '400': $_gray-neutral-400,
    '500': $_gray-neutral-500,
    '600': $_gray-neutral-600,
    '700': $_gray-neutral-700,
    '800': $_gray-neutral-800,
    '900': $_gray-neutral-900,
  ),
);
