$hive-border-radius-multi-value: 2 4;
$hive-border-radius-mini: 2;
$hive-border-radius-rounded: 256;
$hive-border-radius-xxl: 28;
$hive-border-radius-xl: 24;
$hive-border-radius-l: 20;
$hive-border-radius-m: 16;
$hive-border-radius-s: 12;
$hive-border-radius-xs: 8;
$hive-border-radius-xxs: 4;
$hive-card-border-radius: 4;
$hive-button-border-radius: 4;