$hive-colors-background-main: #ec0000;
$hive-colors-pink-900: #702459;
$hive-colors-pink-800: #97266d;
$hive-colors-pink-700: #b83280;
$hive-colors-pink-600: #d53f8c;
$hive-colors-pink-500: #ed64a6;
$hive-colors-pink-400: #f687b3;
$hive-colors-pink-300: #fbb6ce;
$hive-colors-pink-200: #fed7e2;
$hive-colors-pink-100: #fff5f7;
$hive-colors-purple-900: #44337a;
$hive-colors-purple-800: #553c9a;
$hive-colors-purple-700: #6b46c1;
$hive-colors-purple-600: #805ad5;
$hive-colors-purple-500: #9f7aea;
$hive-colors-purple-400: #b794f4;
$hive-colors-purple-300: #d6bcfa;
$hive-colors-purple-200: #e9d8fd;
$hive-colors-purple-100: #faf5ff;
$hive-colors-indigo-900: #3c366b;
$hive-colors-indigo-800: #434190;
$hive-colors-indigo-700: #4c51bf;
$hive-colors-indigo-600: #5a67d8;
$hive-colors-indigo-500: #667eea;
$hive-colors-indigo-400: #7f9cf5;
$hive-colors-indigo-300: #a3bffa;
$hive-colors-indigo-200: #c3dafe;
$hive-colors-indigo-100: #ebf4ff;
$hive-colors-blue-900: #2a4365;
$hive-colors-blue-800: #2c5282;
$hive-colors-blue-700: #2b6cb0;
$hive-colors-blue-600: #3182ce;
$hive-colors-blue-500: #4299e1;
$hive-colors-blue-400: #63b3ed;
$hive-colors-blue-300: #90cdf4;
$hive-colors-blue-200: #bee3f8;
$hive-colors-blue-100: #ebf8ff;
$hive-colors-teal-900: #234e52;
$hive-colors-teal-800: #285e61;
$hive-colors-teal-700: #2c7a7b;
$hive-colors-teal-600: #319795;
$hive-colors-teal-500: #38b2ac;
$hive-colors-teal-400: #4fd1c5;
$hive-colors-teal-300: #81e6d9;
$hive-colors-teal-200: #b2f5ea;
$hive-colors-teal-100: #e6fffa;
$hive-colors-green-900: #22543d;
$hive-colors-green-800: #276749;
$hive-colors-green-700: #2f855a;
$hive-colors-green-600: #38a169;
$hive-colors-green-500: #48bb78;
$hive-colors-green-400: #68d391;
$hive-colors-green-300: #9ae6b4;
$hive-colors-green-200: #c6f6d5;
$hive-colors-green-100: #f0fff4;
$hive-colors-yellow-900: #744210;
$hive-colors-yellow-800: #975a16;
$hive-colors-yellow-700: #b7791f;
$hive-colors-yellow-600: #d69e2e;
$hive-colors-yellow-500: #ecc94b;
$hive-colors-yellow-400: #f6e05e;
$hive-colors-yellow-300: #faf089;
$hive-colors-yellow-200: #fefcbf;
$hive-colors-yellow-100: #fffff0;
$hive-colors-orange-900: #7b341e;
$hive-colors-orange-800: #9c4221;
$hive-colors-orange-700: #c05621;
$hive-colors-orange-600: #dd6b20;
$hive-colors-orange-500: #ed8936;
$hive-colors-orange-400: #f6ad55;
$hive-colors-orange-300: #fbd38d;
$hive-colors-orange-200: #feebc8;
$hive-colors-orange-100: #fffaf0;
$hive-colors-red-900: #742a2a;
$hive-colors-red-800: #9b2c2c;
$hive-colors-red-700: #c53030;
$hive-colors-red-600: #e53e3e;
$hive-colors-red-500: #f56565;
$hive-colors-red-400: #fc8181;
$hive-colors-red-300: #feb2b2;
$hive-colors-red-200: #fed7d7;
$hive-colors-red-100: #fff5f5;
$hive-colors-gray-900: #1a202c;
$hive-colors-gray-800: #2d3748;
$hive-colors-gray-700: #4a5568;
$hive-colors-gray-600: #718096;
$hive-colors-gray-500: #a0aec0;
$hive-colors-gray-400: #cbd5e0;
$hive-colors-gray-300: #e2e8f0;
$hive-colors-gray-200: #edf2f7;
$hive-colors-gray-100: #f7fafc;
$hive-colors-positive: #ffffff;
$hive-colors-negative: #000000;
$hive-shadows-default: #0000004d;
$hive-accent-bg: #434190;
$hive-accent-on-accent: #ffffff;
$hive-accent-default: #5a67d8;
$hive-bg-subtle: #718096;
$hive-bg-muted: #4a5568;
$hive-bg-default: #1a202c;
$hive-fg-subtle: #a0aec0;
$hive-fg-muted: #e2e8f0;
$hive-fg-default: #ffffff;
$hive-box-shadow-default-1-color: #00000033;
$hive-box-shadow-default-0-color: #00000026;
$hive-card-background: #1a202c;
$hive-button-primary-text: #ffffff;
$hive-button-primary-background: #5a67d8;