// ## Images tags
:where(img) {
  display: var(--img-display, block);
  block-size: var(--img-block-size, auto);
  inline-size: var(--img-inline-size, 100%);
  position: var(--img-position, relative);
  background-repeat: var(--img-background-repeat, no-repeat);
  background-size: var(--img-background-size, cover);
  vertical-align: var(--img-vertical-align, middle);

  aspect-ratio: var(--img-aspect-ratio, 1);
  shape-margin: var(--img-shape-margin, 1em);

  object-fit: var(--img-object-fit, cover);
  object-position: var(--img-object-position, center);
  object-view-box: var(--img-object-view-box, 0);

  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;

  font-style: var(--img-font-style, italic);
}

:where(picture) {
  display: var(--picture-display, block);
  inline-size: var(--picture-width, 100%);
}

:where(figure) {
  display: var(--figure-display, block);
  inline-size: var(--figure-width, 100%);
}

:where(figcaption) {
  display: var(--figcaption-display, block);
}

:where(svg) {
  display: var(--svg-display, block);
  overflow: hidden;
  fill: currentColor;
  block-size: var(--svg-height, auto);
  inline-size: var(--svg-width, 100%);

  &:not([fill]) {
    stroke: none;
    fill: currentColor;
  }

  &:not(:root) {
    overflow: hidden;
  }
}