@use '../../scss/02-tools/functions' as *;
@use '../../scss/02-tools/mixins' as *;
@use '../../scss/03-modules/texts' as text;

.anchor-component {
  border-radius: var(--anchor-border-radius, #{radius(XXS)});
  cursor: pointer;

  &:hover {
    --anchor-color: var(--color-accent);
    --anchor-decoration-color: var(--color-accent);
  }

  &:focus {
    @include focus;
  }

  &.disabled{
    color: var(--anchor-color-disabled);

    @include disabled
  }

  &.safe-area {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: index(default);
      inset: var(--safe-area-inset, -1.25ch);
      cursor: pointer;
    }
  }

  &:has([class*="icon-component"]) {
    gap: 0.25rem;
  }
}
