@use 'sass:map';
@use 'sass:math';
@use '../01-setting/01-global' as global;
@use '../01-setting/radius' as radius;
@use '../01-setting/layer' as layer;

// local vars
$-unit: global.$global-unit-value;
$-radius-sizes: radius.$radius-size;
$-layer: layer.$layer;

// $$ Units
// Rem
@function rem($value, $root: $-unit) {
    $result: math.div($value * $root, global.$global-unit-value);
    @return $result + rem;
    @error "The unit #{$value} is not valid";
}
// Usage: font-size: rem(2);

@function strip-unit($number) {
    @if type-of($number)=='number' and not unitless($number) {
        @return math.div($number , ($number * 0 + 1));
    }
}

@function px-to-rem($value) {
    $number: strip-unit($value);
    $result: #{math.div($number , global.$global-unit-value)};
    @return $result + rem;

    @error "The unit #{$value} is not valid";
}

// $$ Get maps
@function maps($map, $value) {
    @if map-has-key($map, $value) {
        @return map.get($map, $value);
    }

    @error "The key #{$value} is a undefined value";
}
// Usage: width: maps(sizes, M);


// $$ Get clamp value
@function get-clamp($min-size, $max-size, $min-screen, $max-screen) {
    $slope: math.div((($max-size - $min-size)), ($max-screen - $min-screen));
    $vw: -$min-size * $slope + $min-size;
    $clamp-size: clamp(#{rem($min-size)}, #{$slope * 100rem } + #{$vw * 1vw}, #{rem($max-size * 1rem)});

    @return  $clamp-size;
}

// $$  Border radius sizes
@function radius($size) {
    @if $size == circle {
        @return 100%;
    }
    @if map-has-key($-radius-sizes, $size) {
        $value: map.get($-radius-sizes, $size);
        $result: rem($value);
        @return $result;
    }

    @error "value undefined";
}

// $$ Z index control
@function index($value) {
    $result: map.get($-layer, $value);
    @return $result;
    @error "value undefined";
}

// $$ Colors convert
@function hex-to-rgb($color) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $rgbColor: unquote("rgb(#{$r, $g, $b})");

  @return $rgbColor;
}

@function hex-to-rgba($color, $alfa: 1) {
  $r: red($color);
  $g: green($color);
  $b: blue($color);
  $a: $alfa;
  $rgbaColor: unquote("rgba(#{$r, $g, $b, $a})");

  @return $rgbaColor;
}

@function hex-to-hsl($hexColor) {
  $h: strip-unit(math.round(hue($hexColor)));
  $s: math.round(saturation($hexColor));
  $l: math.round(lightness($hexColor));
  $colorHSL: unquote("hsl(#{$h, $s, $l})");

  @return $colorHSL;
}

@function hex-to-hsla($hexColor, $alfa: 1) {
  $h: strip-unit(math.round(hue($hexColor)));
  $s: math.round(saturation($hexColor));
  $l: math.round(lightness($hexColor));
  $a: $alfa;
  $colorHSLA: unquote("hsla(#{$h, $s, $l, $a})");

  @return $colorHSLA;
}
