@use "../setup" as setup;
@use "../03-modules/accessibility" as accessibility;
@use "../05-elements/00-elements" as element;

// ## Reset

*,
::before,
::after {
  box-sizing: border-box;
  padding-block: 0;
  padding-inline: 0;
  margin-block: 0;
  margin-inline: 0;
  min-inline-size: 0;
}

:where(html, body) {
  height: 100%; // Fallback
}

:where(html) {
  -webkit-text-size-adjust: none;
  block-size: 100%;
  // fallback Support iOS
  block-size: -webkit-fill-available;
  color-scheme: dark light;
  inline-size: 100%;
  overflow-anchor: auto;
  overscroll-behavior: contain;
  scroll-behavior: smooth;
  scroll-margin-top: 0;
  scrollbar-gutter: stable;
  text-size-adjust: 100%;
}

// $$ Body
@include element.body-styles;

// $$ main
@include element.main-styles;

:where(a,
  area,
  button,
  input,
  label[for],
  select,
  summary,
  textarea,
  [tabindex]) {
  touch-action: manipulation;
}

:where(template,
  [hidden]) {
  display: none;
}

:where([role="button"],
  [role="link"],
  [role="option"],
  [role="select"]) {
  cursor: var(--cursor, pointer);
}

:where(:focus-visible) {
  outline-width: max(0.125rem, 2px);
  outline-style: solid;
  outline-color: var(--color-focus, highlight);
}

// $$ Media queries
@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  @if not(setup.$ut-accessibility) {

    *,
    *::before,
    *::after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
      transition-duration: 0.01ms !important;
    }
  }
}

@media (prefers-contrast: more) {
  :root {
    --contrast-target: 7;
  }
}

@media (prefers-contrast: less) {
  :root {
    --contrast-target: 3;
  }
}

.sr-only,
.visibility-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}