@use '../../setup' as setup;

// ## Cursor
$-ut-cursor: setup.$ut-cursor;

$-cursor: (
    alias,
    all-scroll,
    auto,
    cell,
    context-menu,
    col-resize,
    copy,
    crosshair,
    default,
    e-resize,
    ew-resize,
    grab,
    grabbing,
    help,
    move,
    n-resize,
    ne-resize,
    nesw-resize,
    ns-resize,
    nw-resize,
    nwse-resize,
    no-drop,
    none,
    not-allowed,
    pointer,
    progress,
    row-resize,
    s-resize,
    se-resize,
    sw-resize,
    text,
    w-resize,
    wait,
    zoom-in,
    zoom-out
);

@if $-ut-cursor {
    [class*="cursor:"] {
        cursor: var(--cursor);
    }

    .cursor {
        @each $name in $-cursor {
            &\:#{$name} {
                --cursor: #{$name};
            }
        }
    }
}
