@use '../../setup' as setup;
@use '../../02-tools/functions' as *;

$effect--ripple-background: hsla(0, 0%, 100%, .5);

// ## Animations
$-ut-animation-effects: setup.$ut-animation-effects;

@if $-ut-animation-effects {
	.effect__content {
		overflow: hidden;
	}

	// $$ Generic effects
	.animation--reverse {
		animation-direction: reverse;
		animation-timing-function: ease-in;
	}

	// $$ Fade
	@keyframes animation-fade--out {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	// $$ Translate
	@keyframes animation-direction--up {
		0% {
			transform: translateY(0%);
		}

		100% {
			transform: translateY(-100%);
		}
	}

	@keyframes animation-direction--down {
		0% {
			transform: translateY(-100%);
		}

		100% {
			transform: translateY(0%);
		}
	}

	// $$ Ripple animation
	@keyframes animation-effect--ripple {
		0% {
			opacity: 0.8;
			transform: scale(0, 0);
		}

		100% {
			opacity: 0;
			transform: scale(20, 20);
		}
	}

	.effect--ripple {
		position: relative;
		overflow: hidden;

		&::after {
			content: '';
			position: absolute;
			opacity: 0;
			border-radius: radius(rounded);
			background: var(--app-ripple-color, #{$effect--ripple-background});
			transform: scale (1, 1) translate(-50%);
			transform-origin: 50% 50%;
			block-size: 0.5rem;
			inline-size: 0.5rem;
			inset-block-start: 50%;
			inset-inline-start: 50%;
		}

		&:focus:not(:active)::after {
			animation: animation-effect--ripple;
			animation-duration: var(--app-animation-speed-slow, 0.3);
			transition-timing-function: ease-out;
		}
	}
}
