#storybook-docs {
  .sbdocs {
    //background: black;
  }

  details {
    --details-summary-icon-open: "🔽";
    --details-summary-icon: "▶️";

    margin-block-end: 2rem;

    summary {
      padding-block: 0.5rem 1rem;
      font-weight: bold;

      &[open] {
        &>summary {
          list-style-type: var(--details-summary-icon-open, none);
        }
      }

      &>summary {
        list-style-type: var(--details-summary-icon, none);
      }

      &::marker {
        position: absolute;
        padding-right: 1rem;
      }
    }
  }

  .storybook{
    &-container {
      display: block;
      padding: 0.75rem 1rem 1.5rem 1rem;
      border: 1px solid hsla(203, 50%, 30%, 0.15);
      box-shadow: rgba(0, 0, 0, 0.10) 0 1px 3px 0;
    }
  }

  * + .storybook-container {
    margin-block-end: 2rem;
  }

  .grid-demo {
    &.tablet {
      --grid-wrapper-width: 640px;
    }

    &.mobile {
      --grid-wrapper-width: 320px;
    }
    .wrapper {
      margin-inline: auto;
    }

    & [class*="grid\@system"]{
      & > * {
          display: flex;
          align-items: center;
          justify-content: center;
          color: hotpink;
          block-size: var(--col-height, 2rem);
          background: rgba(255, 192, 203, 0.3) !important;
          border: 1px dotted hotpink !important;
        }
    }

    .col {
      --col-height: 3rem;
    }
  }
}

#storybook-root {
  block-size: 100%;
}

