body {
    //background: yellowgreen;
}

#storybook-docs {
  details {
    --details-summary-icon-open: "🔽";
    --details-summary-icon: "▶️";

    margin-block-end: 2rem;

    summary {
      padding-block: 0.5rem 1rem;
      font-weight: bold;

      &[open] {
        &>summary {
          list-style-type: var(--details-summary-icon-open, none);
        }
      }

      &>summary {
        list-style-type: var(--details-summary-icon, none);
      }

      &::marker {
        position: absolute;
        padding-right: 1rem;
      }
    }
  }
}

.docblock-icongallery {
  display: block;
  padding: 1rem;
  border: 1px solid hsla(203, 50%, 30%, 0.15);
}

