$-img-object-fit: (
  contain,
  cover,
  fill,
  none,
  scale-down,
  unset,
);

$-img-object-position: (
  center,
  top,
  right,
  bottom,
);

.image-component {
  position: relative;
  opacity: var(--opacity-disabled);
  object-fit: var(--img-object-fit, cover);
  object-position: var(--img-object-position); //object-position: bottom 10px right 20px;
  aspect-ratio: var(--img-aspect-ratio);
}

// ## State
.disabled {
  --opacity-disabled: 0.4;
}

// ## Object fit
@each $name in $-img-object-fit {
  .#{$name} {
    --img-object-fit: #{$name};
  }
}

// ## Object position
@each $name in $-img-object-position {
  .#{$name} {
    --img-object-fit: #{$name};
  }
}

// ## Ratio
.ratio {
  &-none {
    --img-aspect-ratio: none;
  }

  &-1\:1 {
    --img-aspect-ratio: 1/1;
  }

  &-1\:2 {
    --img-aspect-ratio: 1/2;
  }

  &-2\:1 {
    --img-aspect-ratio: 2/1;
  }

  &-2\:3 {
    --img-aspect-ratio: 2/3;
  }

  &-3\:1 {
    --img-aspect-ratio: 3/1;
  }

  &-3\:2 {
    --img-aspect-ratio: 3/2;
  }

  &-3\:4 {
    --img-aspect-ratio: 3/4;
  }

  &-4\:3 {
    --img-aspect-ratio: 4/3;
  }

  &-4\:5 {
    --img-aspect-ratio: 4/5;
  }

  &-5\:4 {
    --img-aspect-ratio: 5/4;
  }

  &-9\:16 {
    --img-aspect-ratio: 9/16;
  }

  &-16\:9 {
    --img-aspect-ratio: 16/9;
  }

  &-21\:9 {
    --img-aspect-ratio: 21/9;
  }

  &-72\:25 {
    --img-aspect-ratio: 72/25;
  }
}
