@use '../../02-tools/mixins' as *;
@use '../../03-modules/forms' as form;

:is(input[type="checkbox"]) {
    background-color: var(--checkbox-background, transparent);
    block-size: var(--checkbox-block-size, 1.25rem);
    border-color: var(--checkbox-border-color);
    border-radius: var(--checkbox-border-radius, 0);
    border-style: var(--checkbox-border-style, solid);
    border-width: var(--checkbox-border-width);
    inline-size: var(--checkbox-inline-size, 1.25rem);

    &:focus {
        @include focus;
    }
    &:required {}
    &:indeterminate {}
    &+label {
        &[for] {}
    }
}