@mixin preformatted-styles {
    :is(pre) {
        overflow: auto;
        white-space: var(--pre-white-space, inherit);
        padding-block: var(--pre-padding-block, 0.25ch);
        padding-inline: var(--pre-padding-inline, 1ch);
        outline: var(--pre-outline, max(0.0625rem, 1px) solid hsla(0, 0%, 10%, 0.1));

        @content;
    }
}
